# Local
.DS_Store
*.local
*.log*
.cache/

# Dist
node_modules/
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Turbo
.turbo

# local database docker
deploy/dev/*_data

# Config files
packages/config/config.json
