# Local
.DS_Store
*.local
*.log*

# Dist
node_modules/
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Turbo
.turbo

# local database docker
db.local/

# Config files
packages/config/config.json
