# Shared sercret for FreeRADIUS server, chronos will use this to authenticate with the server. Make sure to set the same value here and in chronos configuration.
FREERADIUS_SHARED_SECRET=FILL_ME_IN
# radtest user/password/secret for health check
RADTEST_USER=radtest
RADTEST_PASS=FILL_ME_IN
RADTEST_SECRET=FILL_ME_IN
# Timezone for logging
TZ=Europe/Budapest