# generate with "openssl rand -base64 32"
JWT_SECRET="6GFIZ90Go1l4d6BEiZVpYH8t3Z+lyxGAbKemI9ElOrA="
REFRESH_TOKEN_SECRET="7a98G9yUozQBQfKYc063rIvfiWMP8tRhNlFf0keZWfA="
PORT="4000"
APP_HOST="http://localhost:4000"